[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fasttext = "*"
gensim = "*"
transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
